node_modules/
.next/
dist/
out/
.turbo/
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# prisma
prisma/*.db

# local embedded postgres data
.localdb/
**/.localdb/

# logs / os
*.log
.DS_Store
Thumbs.db
.vscode/

# User Uploads
apps/web/public/uploads/
